html {
  height: 100%;
  background:url(https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80) no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  background-color: transparent;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
}

.container {
  background-color: rgba(244, 242, 234, 0.83);
  border-radius: 5px;
  padding-bottom: 20px;
}

.header {
  background-color: rgba(244, 242, 234, 0.83);
  border-radius: 5px;
  margin-top: 10px;
  color: grey;
  display: flex;
  justify-content:space-between; 
  height: 50px;
}

.hLeft {
  text-align: left;
}

.hRight {
  text-align: right;
}

.hCenter {
  text-align: center;
}

.body {
   margin-top: 400px;
   text-align: center;
}

.searchBar {
  
  background-color: transparent;
  width: 200px;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:black;
  background-color:#d6b213;
  padding:8px;
  text-align: center;
}


.form-control {
  width: 230px;
}

a {
  color: #d6b213;
}

a:hover {
  text-decoration: none;
  color: #ff4d00;
}

input {
  background-color:  #d6b213;
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 200px;
  text-align: center;
}

button {
  background-color:  #d6b213;
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 200px;
  text-align: center;
}

button:hover {
  background-color: #ff4d00;
}

button:focus {outline:none;}

input:hover {
  background-color: #ff4d00;
}

input:focus {outline:none;}

h1 {
  font-weight: bolder;
}

hr {
  color: grey;
}