html {
  height: 100%;
  background:url(https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80) no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  background-color: transparent;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 50px;
}

.container {
  background-color: rgba(244, 242, 234, 0.90);
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 20px;

}

.intro {
  display: flex;
  justify-content:space-evenly; 
  margin-top: 30px;
}
.iLeft {
  text-align: left;
  font-size: 400%;
  font-weight: bold;
  /* border: 1px solid #d6b213;
  border-radius: 5px; */
  width: 300px;
  text-align: center;
}
/* .iLeft:hover {
  border-color: #ff4d00;
} */
.iRight {
  text-align: right;
  font-size: 400%;
  font-weight: bold;
  /* border: 1px solid #d6b213;
  border-radius: 5px; */
  width: 300px;
  text-align: center;
}
/* .iRight:hover {
  border-color: #ff4d00;
} */
.header {
  background-color: rgba(244, 242, 234, 0.83);
  border-radius: 5px;
  margin-top: 10px;
  color: grey;
  display: flex;
  justify-content:space-between; 
  height: 50px;
}

.hLeft {
  text-align: left;
}

.hRight {
  text-align: right;
}

.hCenter {
  text-align: center;
}

.body {
   margin-top:200px;
   text-align: center;
}

.searchBar {
  
  background-color: transparent;
  width: 200px;
}
.searchBar:hover {
  background-color: transparent;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:black;
  background-color:#d6b213;
  padding:8px;
  text-align: center;
}


.form-control {
  width: 230px;
}

a {
  color: #d6b213;
}

a:hover {
  text-decoration: none;
  color: #7a6400;
}

input {
  background-color:  #d6b213;
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 200px;
  text-align: center;
}

button {
  background-color:  #d6b213;
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 200px;
  text-align: center;
}

button:hover {
  background-color: #7a6400;
}

button:focus {outline:none;}

input:hover {
  background-color: #7a6400;
  color: white;
}

input:focus {outline:none;}

h1 {
  font-weight: bolder;
}

hr {
  color: grey;
}

i.fa-home {
  background-color: transparent;
  margin-top: 5px;
  left: 0;
  font-size: 75px;
  color: rgba(244, 242, 234, 0.83);
  position: fixed;
}