@{
  Layout = "_Layout";
}
@using System.Security.Claims
@using Library.Models;

@model IEnumerable<Library.Models.Book>

  <b><h1>Welcome to my Online Library!</h1></b>
<br>

@if (User.Identity.IsAuthenticated)
{
  <div class="intro">
    <div class="iLeft">
      @Html.ActionLink("Authors", "Index", "Authors")
    </div>
    <div class="iRight">
      @Html.ActionLink("Books", "Index", "Books")
    </div>
    
  </div>
  
  <br>

}
else
{
  <h3>@Html.ActionLink("Create an account", "Index", "Account")</h3>
  <h3>@Html.ActionLink("Log in", "Login", "Account")</h3>
}
