@* <button class="w3-xxlarge"><i class="fa fa-home" value="Home"></i></button> *@
<div class="header">
    <div class=hLeft>
        @using (Html.BeginForm("Index", "Books", FormMethod.Post))
    {
    <form asp-controller="Books" asp-action="Index">
        <p>
            <input type="text" class="searchBar" name="SearchBook" id="Description" placeholder="Search Book">
        </p>
        </form>
    }
    </div>

     @* <div class=hCenter>
        @using (Html.BeginForm("Index", "Authors", FormMethod.Post))
    {
    <form asp-controller="Authors" asp-action="Index">
        <p>
            <input type="text" class="searchBar" name="SearchBook" id="Name" placeholder="Find Author">
        </p>
        </form>
    }
    </div> *@


    <div class="hRight">
        @if (User.Identity.IsAuthenticated)
    {
         @using (Html.BeginForm("LogOff", "Account"))
     {
        @User.Identity.Name <input type="submit" class="logout" value="Log out" />
     }
    }
    </div>
</div>
